* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size: 18px;
}

header{
    width: 100%;
    display: flex;	
    align-items: center;
    position: fixed;
    line-height: 1.2;
    background-color: white;
    z-index: 1;
}

nav{
    display: flex;
    text-align: center;
    justify-content: end;
    width: 100%;
}

nav ul{
    display: flex;
    margin-right: 105px;
}


nav ul li{
    width: 50%;
    margin-right: 30px;
}

nav a {
    color: #212529;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 37px;
    text-transform: uppercase;
    transition: all 400ms;
}

nav a:hover{
    color: #f05f40;
}



.logo{
    color: #f05f40;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 100px;
    width: 100%;
    text-transform: uppercase;
}

.imgBack{
    object-fit: cover;
    width: 100%;
    height: 650px;
    z-index: -1;
}

#Accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.imgText{
    position: absolute;
    top: 35%;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: white;
    text-transform: uppercase;
}

hr{
    background-color: #f05f40;
    border: none;
    width: 4%;
    margin: 20px auto;
    height: 3px;
}

.hr2{
    background-color: white;
    border: none;
    width: 4%;
    margin: 20px auto;
    height: 3px;
}

h4{
    font-size: 1.45rem;
    font-weight: 300;
    font-family: Merriweater;
    color: white;
    opacity: 0.7;
    margin: 10px 300px 50px 300px;
    text-align: center;
}

h5{
    font-size: 1.25rem;
    font-weight: 300;
    font-family: Merriweater;
    color: white;
    opacity: 0.7;
    margin: 10px 250px 50px 250px;
    text-align: center;
}

.btn {
    background-color: #f05f40;
    color: white;
    border-radius: 30px;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    width: 14%;
    margin: auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: filter 300ms, box-shadow 300ms 100ms;
}

.btn:hover {
    filter: brightness(120%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.aboutText{
    background-color: #f05f40;
    width: 100%;
    height: auto;
    padding: 100px 0;
}

h2{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 3rem;
    color: #f05f40;
    margin: 40px 0 20px 0;
}

h3{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.btn2{
    background-color: #eaeaea;
    color: black;
    border-radius: 30px;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    width: 17%;
    margin: auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: filter 300ms, box-shadow 300ms 100ms;
}

.btn2:hover {
    filter: brightness(120%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.servText{
    background-color: #212529;
    width: 100%;
    height: auto;
    padding: 100px 0;
}

.service{
    display: flex;
    width: 100%;
}

i{
    color: #f05f40;
    font-size: 4em;
    margin-bottom: 20px;
}

article{
    text-align: center;
    width: 23%;
    margin: 50px auto;
}

subtitle{
    color: white;
    opacity: 0.7;
    font-size: 1rem;
}

.carousel {
    margin: 40px auto 100px auto;
    width: 50%;
    height: 50%;
}

ul.slides {
    display: block;
    position: relative;
    height: 450px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 450px;
    color: #f05f40;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 1;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls .prev-slide {
    width: 1%;
    height: 1%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 1%;
    height: 1%;
    text-align: right;
    right: 4%;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }

.footer-basic {
    padding:40px 0;
    background-color:#eaeaea;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .footer-basic li {
    padding:0 10px; 
  }

  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
    display: flex;
    justify-content: center;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }

  .footer-basic .social > a > i {
    font-size: 1em;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#212529;
    margin-bottom:0;
  }

            /********************* Contact ********************************/

.blocForm {
    text-align: center;
    background-color: #f05f40;
    position: absolute;
    top: 20%;
    left: auto;
    padding: 20px;
    border-radius: 15px;
    width: 70%;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

label {
    color: white;
}

input {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {

.logo{
    margin-left: 40px;
}

nav ul{
    margin-right: auto;
}

.imgText{
    top: 15%;
}

h4 {
    margin: 10px 50px 50px;
}

h5{
    margin: 10px 50px 20px;
}

.btn{
    width: 23%;
}

.btn2 {
    width: 29%;
}

ul.slides {
    height: 400px;
}

.carousel-controls{
    line-height: 400px;
}

.service{
    flex-wrap: wrap;
}

article{
    width: 44%;
}

}

@media all and (max-width: 768px) {

.logo{
    margin-left: 0;
}

.imgText{
    top: 25%;
}

h1{
    font-size: 2rem;
}

h4 {
    font-size: 1.215rem;
    margin: 40px 20px;
}

h5{
    margin: 10px 15px 50px;
}

.btn{ 
    width: 50%;
}

.btn2{
    width: 61%;
}

article{
    width: 100%;
   
}

.service{ 
    flex-direction: column;
}

.carousel{
    width: 75%;
}

ul.slides {
    height: 300px;
}

.carousel-controls{
    left: -15px;
    line-height: 300px;
}

.menu {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.menu li {
    width: 150px;
}

.menu li a:link, .menu li a:visited {
    display: block;
    color: #FFF;
    background: #293245;
    padding: 6px 10px;
    border-right: 1px solid #FFF;
    text-align: center;
    text-decoration: none;
}

.menu li a:hover {background-color: #199BD2;}
.menu li a:hover {background-color: #808080;}

.menu .sousMenu {
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

.menu .sousMenu li {
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menu .sousMenu li a:link, .menu li a:visited {
    display: block;
    color: #FFF;
    text-decoration: none;
    background-color: #808080;
}

.menu .sousMenu li a:hover {
    background-color: #199BD2;
}

.menu li:hover .sousMenu {
    display: block;
}


}